// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.ml-145 {
  margin-left: 145px;
}

.ml-697 {
  margin-left: 697;
}

.ml-75 {
  margin-left: 7.5px;
}

.sticky {
  position: sticky;
  top: 0;
}

.item-list {
  display: flex;
  justify-content: center;
}

.v-btn_content {
  position: absolute;
  bottom: 32px;
}
